.container {
	width: 500px;
	height: 600px;
	background-color: lightblue;
	border-radius: 50px;
	margin: auto;
	padding: 3px;
	overflow: hidden;
}

.satu {
	width: 450px;
	height: 200px;
	background-color: red;
	margin: auto;
}

.dua p{
	width: 450px;
	height: 200px;
	background-color: yellow;
	margin: auto;
	text-align: center;
	line-height: 200px;
	font-size: 30px;
	font-family: algerian;
}

.tiga {
	width: 450px;
	height: 200px;
	background-color: green;
	margin: auto;
}
